<ion-header [translucent]="true">
  <ion-toolbar id="tollbarHeader">
    <div id="divHeaderBotoes">
      <ion-img id="logo" src="assets/logo.png" routerLink="/home"></ion-img>
      <div>
        <ion-button class="buttonHeader" size="small" routerLink="/login">Login &nbsp;
          <ion-icon name="log-in-outline"></ion-icon></ion-button>
        <ion-button class="buttonHeader" size="small" routerLink="/cadastro">Cadastro &nbsp;<ion-icon name="person-outline"></ion-icon></ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <!--  <ion-header collapse="condense">
     <ion-toolbar>
       <ion-title size="large">cadastro</ion-title>
     </ion-toolbar>
   </ion-header> -->
  <div id="divConteudo">
     
    <div class="login-container">
      <ion-title id="textoCadastro">Cadastro</ion-title>

      <form >
         
        <ion-input type="text" name="nome" id="nome" [(ngModel)]="nome" placeholder="Nome"></ion-input>

        <ion-input type="email" name="email" id="email" [(ngModel)]="email" placeholder="E-mail"></ion-input>     
          
        <ion-input type="password"  name="password" [(ngModel)]="password" placeholder="Senha"></ion-input>

        <ion-input type="password"  name="confirmaPassword" [(ngModel)]="confirmaPassword" placeholder="Confirme a Senha"></ion-input>

        <div [class.invalid]="cep.length !== 9 && cep.length > 0" id="boxCep">
          <ion-input type="text" name="cep" id="cep" [(ngModel)]="cep" (ngModelChange)="formatCep($event)" maxlength="9" placeholder="Cep"></ion-input>
        </div>

        <ion-input type="text" name="rua" id="rua" [(ngModel)]="rua" placeholder="Rua"></ion-input>

        <div class="divForm">
          <ion-input type="text" name="numero" id="numero" [(ngModel)]="numero" placeholder="Nº"></ion-input>
          <ion-input type="text" name="bairro" id="bairro" [(ngModel)]="bairro" placeholder="Bairro"></ion-input>
        </div>

        <div class="divForm">
          <ion-input type="text" name="cidade" id="cidade" [(ngModel)]="cidade" placeholder="Cidade"></ion-input>

          <ion-input type="text" name="uf" id="uf" [(ngModel)]="uf" placeholder="UF"></ion-input>
         
        </div>
      
        <ion-button expand="full" type="submit" shape="round" class="globalButtonCor">Cadastrar</ion-button>
      </form>
      
      
       
    </div>
  </div>
  <ion-footer>
    <p id="pFooter">Suas informações estão protegidas de acordo com a L13709/2018 (Lei Geral de Proteção de Dados Pessoais).</p>
    <p style="font-weight: bold" id="pFooter2">Devolva-me <sup>&reg;</sup></p>
  </ion-footer>
</ion-content>

