@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

#logo{
  width: 150px;
  margin: 30px auto;
}
.titulos{
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
  font-style: normal;
  color: var(--text-color);
}

#pInicio{
  font-size: 17px;
  padding: 0px 20px;
  text-align: center;
  border: 2px dashed red;
  margin: 15px auto;
  max-width: 300px;
}
#iconP{
  color: red;
  margin: 15px auto -14px auto;
  display: block;
  
  
}
ion-thumbnail {
  // width: 50%;
  margin: 20px auto 15px auto;
  --size: 50%;
  
  --border-radius: 50%;
  width: 190px;
 
}

#fotoUser{
  width: 190px;
  height: 190px;
}
.button-container {
  display: flex;
  justify-content: center;
  // align-items: center;
  // height: 100%;  // Ajuste conforme necessário
  // margin-top: 20px; // Opcional: ajuste conforme necessário
}



ion-icon {
  // width: 45%;
  // margin: 0px auto 20px auto;
  // align-self: left;
  font-size: 30px;
  color: blue;
}

.contato{
  display: flex;
  max-width: 250px;
  gap: 10px;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
  margin: auto; 

 
}

.hidden{
  display: none;
}

#whatsapp-icon{
  color: #25D366;
}

#email-icon{
  color: #ff4343;
}

#bemvindo {
  font-size: large;
  text-align: center;
}

#insta-icon {

  font-size: 30px;
  --ionicon-stroke-width: 1px;
  color: transparent;
  background: linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    mask: url('https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/svg/logo-instagram.svg') no-repeat center / contain;
}
.textCenter{
  text-align: center;
  margin-top: 10px;
}
ion-checkbox {
  --size: 24px;
  --checkbox-background-checked: #6815ec;
  
}
ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #6815ec;
}
.boxBtnSalvar{
  text-align: center;
  margin-top: 15px;
  

  ion-icon{
    color:white;
    margin: 0px -5px 0px 8px;
    padding: 0%;
    font-size: 22px;
  }
}

#copiar{
    color: #000;
    font-size: 20px;
}