
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="usuario">
    <ion-img id="logo" src="assets/logo.png"></ion-img>

    <ion-thumbnail>
      <ion-img alt="foto" id="fotoUser" src="assets/imagens/pingo.jpg" />
    </ion-thumbnail>
  </div>

  <p class="titulos">Olá, me chamo {{nome}} Fico feliz que tenha encontrado meu item perdido!</p>
  <p class="titulos">Por favor, entre em contato:</p>

  <form>
  <div [ngClass]="{'hidden': !mostraTel1}">
    <div class="contato" >
      <ion-icon name="call"></ion-icon>
      <p>{{tel1}}</p>
      <ion-icon name="copy-outline" id="copiar"></ion-icon>
    </div>
  </div>

  <div [ngClass]="{'hidden': !mostraTel2}">
    <div class="contato">
      <ion-icon name="call-outline"></ion-icon>
      <p>{{tel2}}</p>
      <ion-icon name="copy-outline" id="copiar"></ion-icon>
    </div>
  </div>

  <div [ngClass]="{'hidden': !mostraWhats}">
    <div class="contato">
      <ion-icon id="whatsapp-icon" name="logo-whatsapp"></ion-icon>
      <p>{{whats}}</p>
      <ion-icon name="copy-outline" id="copiar"></ion-icon>
    </div>
  </div>

  <div [ngClass]="{'hidden': !mostraEmail}">
    <div class="contato">
      <ion-icon id="email-icon" name="mail-outline"></ion-icon>
      <p>{{email}}</p>
      <ion-icon name="copy-outline" id="copiar"></ion-icon>
    </div>
  </div>

  <div [ngClass]="{'hidden': !mostraInsta}">
    <div class="contato">
      <ion-icon id="insta-icon" name="logo-instagram"></ion-icon>
      <p>{{insta}}</p>
      <ion-icon name="copy-outline" id="copiar"></ion-icon>
    </div>
  </div>

  <div [ngClass]="{'hidden': !mostraFace}">
    <div class="contato">
      <ion-icon id="face" name="logo-facebook"></ion-icon>
      <p>{{face}}</p>
      <ion-icon name="copy-outline" id="copiar"></ion-icon>
    </div>
  </div>
</form>
</ion-content>
