@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


#divHeaderBotoes{
  display: flex;
  justify-content: space-between;
}

#logo{
  width: 100px;
  margin-left: 15px;
}

.buttonHeader{
  --background: #612a85;
  margin-top: 20px;
  margin-right: 5px;
  font-weight: 600;
  font-size: 10px;
}

.titulos{
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
  font-style: normal;
  color: var(--text-color);
}

.textos{
  text-align: left;
  margin: 5px 15px;
  margin-bottom: 20px;
}

.pComDestaque{
  text-align: center;
  margin-bottom: 0px;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
}

#imgQr{
  width: 50%;
  margin: 0px auto 15px auto;
}

ul{
  list-style-type: square;
}

li{
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  margin-bottom:20px;
}
.spanLista{
  color: black;
  font-size: 16px;
  font-weight: lighter;
  font-style: normal;
}

#divButton{
  width: 100%;
  text-align: center;
}

#pFooter{
  text-align: center;
  margin-bottom: 0px;
  font-size: 12px;
  font-style: italic;
 }

.box{
  display: block;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.participante-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
  
.card{
  background: #612a85;
  border-radius: 10%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 200px;
  text-align: center;
  //margin-top: 20px;
}
  
.card:hover{
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
  
.imagem-membro {
  position: relative;
}
  
ion-thumbnail {
  --size: 100%;
  --border-radius: 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
  
ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.info-membro {
  padding: 15px;
}
  
.info-membro h3 {
  color: white;
  margin: 10px 0 5px;
  font-size: 18px;
}
  
.info-membro p {
  margin: 0;
  color: #b5b5b5;
  font-size: 14px;
}

u {
  color: white;
}

#voltar{
  width: 35%;
  --background: #ea2a41;
}