<!-- <ion-header [translucent]="true">
  <ion-toolbar id="tollbarHeader">
    <div id="divHeaderBotoes">
      <ion-img id="logo" src="assets/logo.png" routerLink="/home"></ion-img>
      <div>
        <ion-button class="buttonHeader" size="small" routerLink="/login">Login &nbsp;
          <ion-icon name="log-in-outline"></ion-icon></ion-button>
        <ion-button class="buttonHeader" size="small" routerLink="/cadastro">Cadastro &nbsp;<ion-icon name="person-outline"></ion-icon></ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="false">
 <!--  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cadastro</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div id="divConteudo">
    
    <div class="login-container">
      <ion-img id="logo" src="assets/logo.png" routerLink="/home"></ion-img>
      <form (submit)="login()" >
        
          
          <ion-input type="email" [(ngModel)]="email" name="email" id="email" class="inputLogin" placeholder="E-mail"></ion-input>
        
      
          
          <ion-input type="password" [(ngModel)]="password" name="password" class="inputLogin" placeholder="Senha"></ion-input>
      
        <ion-button expand="full" type="submit" shape="round" class="globalButtonCor">Entrar</ion-button>
      </form>
      <ion-button expand="full" (click)="loginWithGoogle()" shape="round" class=" buttons">Entrar <img src="../../assets/imagens/googleP.png" alt="logo google"></ion-button>
   
      
    </div>
  </div>

</ion-content>
