<ion-header [translucent]="true">
  <ion-toolbar>
    <h3 id='bemvindo'>Bem-vindo, (Nome ou e-mail do usuário)!</h3>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-title size="large"></ion-title>
  <div class="usuario">
    <ion-thumbnail>
      <ion-img alt="foto" src="assets/imagens/pingo.jpg" />
    </ion-thumbnail>

    <p class="titulos">Contatos:</p>

    <div class="contato">
      <ion-icon name="call"></ion-icon><br> <!-- n consegui adicionar o texto ao lado do icone a princípio -->
    </div>

    <div class="contato">
      <ion-icon name="call-outline"></ion-icon><br>
    </div>

    <div class="contato">
      <ion-icon id="whatsapp-icon" name="logo-whatsapp"></ion-icon><br>
    </div>

    <div class="contato">
      <ion-icon id="email-icon" name="mail-outline"></ion-icon><br>
    </div>

    <div class="contato">
      <div class="insta-container">
        <ion-icon id="insta-icon" name="logo-instagram"></ion-icon><br> <!-- icone do ionic framework customizado no scss -->
      </div>
    </div>
    <br>
    <ion-textarea class="descricao" label="Descrição de itens"
    labelPlacement="floating"
    [autoGrow]="true"
    fill="outline"
    [counter]="true"
    maxlength="500"
    ></ion-textarea> <!-- por enquanto não está mantendo os dados escritos -->
  </div>
</ion-content>
