<ion-header [translucent]="true">
  <ion-toolbar>
    <h3 id='bemvindo'>Bem-vindo, (Nome ou e-mail do usuário)!</h3>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-title size="large">user</ion-title>
  <div class="usuario">
    <ion-thumbnail>
      <img alt="foto" src="assets/imagens/walter.jpeg" />
    </ion-thumbnail>
    <p class="textos">Contatos:</p> 
    <ion-icon name="call-outline"></ion-icon>
  </div>
</ion-content>
