<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar> 
    </ion-toolbar>
  </ion-header>
  <!-- <ion-img [src]="backgroundImage"></ion-img> -->

  <!-- https://api.qrserver.com/v1/create-qr-code/?size=300x300&data=netflix.com.br -->
  <!-- https://goqr.me/api/doc/create-qr-code/ -->

  <canvas id='qrCanvas'></canvas>

  <!-- <ion-img [src]="qrCodeImage"></ion-img> -->
  <ion-button (click)="generateQRCode()">aqui</ion-button>
</ion-content>
