@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


#divHeaderBotoes{
  display: flex;
  justify-content: space-between;
}

#logo{
  width: 100px;
  margin-left: 15px;
}

.buttonHeader{
  --background: #612a85;
  margin-top: 20px;
  margin-right: 5px;
  font-weight: 600;
  font-size: 10px;
}

.titulos{
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
  font-style: normal;
  color: var(--text-color);
}

.textos{
  text-align: center;
  margin: 5px 15px;
  margin-bottom: 20px;
}

.spanNumeros{
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif, cursive;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
}

.pComDestaque{
  text-align: center;
  margin-bottom: 0px;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
}

#imgQr{
  width: 50%;
  margin: 0px auto 15px auto;
}

ul{
  list-style-type: square;
}

li{
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  margin-bottom:20px;
}
.spanLista{
  color: black;
  font-size: 16px;
  font-weight: lighter;
  font-style: normal;
}

#divButton{
  width: 100%;
  text-align: center;
}

#pFooter{
  text-align: center;
  margin-bottom: 0px;
  font-size: 12px;
  font-style: italic;
 }


ion-thumbnail {
  width: 50%;
  margin: 0px auto 15px auto;
  --size: 100%;
  --border-radius: 50%;
  margin-top: 10px;
}

ion-icon {
  width: 45%;
  margin: 0px auto 20px auto;
  align-self: left;
  font-size: 30px;
  color: blue;
}

#whatsapp-icon{
  color: #25D366;
}

#email-icon{
  color: #ff4343;
}

#bemvindo {
  font-size: large;
  text-align: center;
}

.insta-container {
  display: inline-block;
  position: relative;
  width: 45%;

  #insta-icon {
    width: 100%;
    height: 100%;
    font-size: 30px;
    --ionicon-stroke-width: 1px;
    color: transparent;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    mask: url('https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/svg/logo-instagram.svg') no-repeat center / contain;
  }
}

.descricao {
  position: relative;
  margin: 10px auto 20px auto;
  width: 80%;
  --border-radius: 5px;
  --highlight-color-focused: #8235b6;
  --padding-bottom: 0px;
}