@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

#divConteudo{
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #612a85;
  
}

#logo{
  width: 60%;
  margin-bottom: 15px;
  margin-left: 15px;
  align-self: center;
}

.home-container{
  width: 80%;
  max-width: 400px;
  padding: 5px 20px 20px 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form{
  width: 100%;
}

.buttons img{
  width: 30px;
  margin-left: 12px;
}

#saibamais{
  justify-content: center;
}

.saibamais{
  display: flex;
  justify-content: center;
}