<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="assets/devolvame.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Olá, seja bem-vindo(a) à versão teste de nosso aplicativo!</h1>
    <br>
    <p>Paticipantes da iniciativa Devolva-me:</p>
    <br>
    <p>Bruno Cesar</p>
    <p>Cleiton Araujo</p>
    <p>Evellyn Mendes</p>
  </div>
</ion-content>
